.nav {
    grid-area: n;
    background-color: rgba(7, 158, 19, 0.637);
    border-radius: 1%;
    height: 500px;
}
.item {
    color: white;
    text-decoration: none;
}
.active {
    color: blue;
    text-decoration: none;
}